/*
header specific css page that only manages the header
*/
header{
  height:400px;
  width:600px;
  margin-top:150px;
  margin-left:5%;
  background-color:sandybrown;
  background-image:url("../images/background.png");
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

@media (max-width: 950px) {
  header{
    height:400px;
    width:100%;
    background-color:sandybrown;
    background-image:url("../images/background.png");
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top:120px;
    margin-left:0%;
  }
}