nav{
  height: 120px;
  background-color: #4056A1;
  color:#FFFFFF;
  font-family: "Source Sans Pro", "sans-serif";
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:1.5em;
  /*position:absolute;
  width:100%;
  z-index:2;*/
}
span{
  font-family: "bungee", "sans-serif";
  font-size: 32px;
  left:1.5em;
  right:1.5em;
}
i{
  color:red;
  display:block;
  width:100%;
  text-align: center;
}